<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>My App</title>
</head>
<body>
    <h1>My Web App</h1>

    <ul>
        <% for (let i = 0; i < numberOfItteration; i++) { %>
            <li><%= i %></li>
        <% } %>
    </ul>
    <h2><%= Date() %></h2>  <!-- between these symbols we can create a javascript code and it will show in the web -->
    
    <img src="200.jpeg" alt="Image">
</body>
</html>